@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.dmsans{
  font-family: "Dm sans",sans-serif;
}

.cursive {
  font-family: "Cedarville Cursive", cursive;
}
.Welcome-text {
  color: cyan;
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  transition: 1.2s;
  @media not all and (min-width: 640px) { 
    color: rgb(0, 177, 168);

   }
}
.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;

  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
  transition: 1.2s;
  @media not all and (min-width: 640px) { 
    border: 3px solid blueviolet;

  }
}
.Welcome-box:hover{
  background: white;
  border: 3px solid;

}
.Welcome-box.github:hover {
  background: rgb(70, 70, 70);

}
.Welcome-text:hover{
  color: #E50914;
  font-weight: 500;
}

.button-primary {
  background: linear-gradient(
      180deg,
      rgba(0, 177, 168, 0) 0%,
      rgba(0, 177, 168, 0.32) 100%
    ),
    rgba(91, 230, 220, 0.12);
  box-shadow: inset 0 0 12px #96fffa;
  transition: 0.8s;

}
.button-primary:hover {
  background: linear-gradient(
      180deg,
      rgba(91, 230, 220, 0) 0%,
      rgba(91, 230, 220, 0.42) 100%
    ),
    rgba(91, 230, 220, 0.24);
  box-shadow: inset 0 0 12px #96fffa;
}
/* github button */
.button-github {
  background: black;
  box-shadow: inset 0 0 1px #96fffa;
  transition: 0.8s;
}
.button-github:hover{
  background: white;
  color: black;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}
.test{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;

}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Optionnel: Durée des animations */
.fade-in {
  animation: fadeIn 1.5s ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 1.5s ease-in-out forwards;
}

@layer base {
  .theme {
    --animate-orbit: orbit calc(var(--duration)*1s) linear infinite;
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

@theme inline {
  @keyframes orbit {
  0% {
    transform: rotate(0deg) translateY(calc(var(--radius) * 1px)) rotate(0deg);
    }
  100% {
    transform: rotate(360deg) translateY(calc(var(--radius) * 1px)) rotate(-360deg);
    }
  }
}